* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(0deg, #021430, #0945a5) no-repeat;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#canvas {
	width: 300px;
	height: 300px;
}